# MongoDB
mongodb/
mongodb-data/
mongodb-keyfile

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Cache
.cache/
.npm/

# Docker
docker-compose.override.yml

# System Files
Thumbs.db
.DS_Store

# SSL
*.pem
*.key
*.crt
ssl/

# Build output
dist/
build/
out/

# Temporary files
*.tmp
*.temp
.env*.local
mongodb/data/_mdb_catalog.wt
mongodb/data/collection-2--631271073823425554.wt
mongodb/data/collection-4--631271073823425554.wt
mongodb/data/index-3--631271073823425554.wt
mongodb/data/index-5--631271073823425554.wt
mongodb/data/index-6--631271073823425554.wt
mongodb/data/sizeStorer.wt
mongodb/data/WiredTiger.turtle
mongodb/data/WiredTiger.wt
mongodb/data/diagnostic.data/metrics.2025-06-14T00-21-34Z-00000
mongodb/data/diagnostic.data/metrics.interim
mongodb/data/journal/WiredTigerLog.0000000002
